.etapas{
	background-color:#eeeeee ;
	color:#424242  ;
	margin-left:auto;
	margin-right:auto;	
	border: 1px ;
	border-radius: 30px;
	padding: 20px;
	margin-bottom:200px;
}



.esconder{
	display: none;
}


.botonesModificar{
	
	width:300px;
	height:40px;
	margin-bottom:100px;
}

.links{

	font-weight : bold;
	font-size: 100%;
	color: #e57373 ; 

	
}

.divModal{
	border: 1px;
	border-radius: 20px;
	padding: 10px;
	width: 300px;
	margin-top: 150px;
	transform: translate(-50%,-50%);
}


.actual{
	background-color:#009688 ;
	color:#eeeeee;
	font-weight:500;
}

label, td, h6{
	color: #00695c;
	font-weight: 500;
}

.subTemas{
	background-color:#eeeeee ;
	color:#00695c   ;
	margin-left:20px;
	border: 1px;
	border-radius: 20px;
	padding: 10px;
	font-weight : bold;
}



.imagen{
	
	width: 600px; 
	height: 500px;
	margin-left: 100px;
	margin-right: 100px;
	
}

.bandera{
	
	width:200px; 
	height: 200px;
	margin-left: 100px;
	margin-right: 100px;
	
}

.pei{
	color: #ffffff ;
	font-weight: bold;
}

.quitar-float{
	float: none;
}

.espacioGenerar{
	margin-left : 50px;
	margin-top: 40px;
}

.espacio-arriba{
	margin-top: 100px;
}

.espacio-izquierda{
	margin-left : 30px;
}

.laila{
	font-family: 'Livvic', sans-serif;
	font-weight: bold;
	
}

.rubik{
	font-family: 'Rubik', sans-serif;
	font-size : 1em;
	font-weight: bold;
	color: #212121;
}

.firasans{
	font-family: 'Fira Sans', sans-serif;

}

.text-color{
	color: #616161;
}

a{
	color: #3EA198;
}



main {
	flex: 1 0 auto;
}

.espacios{
	margin-left: 50px;  
	margin-right: 50px;	
}

.inline-block{
	display: inline-block;   
	
}

.no-lista li{
	list-style-type:none;
	display: inline-block;
}

.se-gris{
	background-color :#eee;
}
.padding-largo{
	padding: 5px 10 px;
}

.grande{
	font-size:2em;
	
}

.indie{
	font-family: 'Indie Flower', cursive;
	
}

.stylish{
	font-family: 'Stylish', sans-serif;
	color: #AC0C7A;
}

.notosans{
	font-family: 'Noto Sans', sans-serif;
}

.borde{
	border-radius: 10px;
	border: 1px solid;

}

label{
	font-size: large;
}

.login{
	border: 1px solid;
	border-radius: 20px;
	padding: 10px;
	width: 350px; 
	left: 100%;
	margin-top: 90px;
	margin-bottom: 120px;
	margin-left:50px;

}

*{
	margin : 0px;
	padding : 0px;
}


.bienvenido{
	
	padding: 40px;
	background: #80cbc4;
	color: #ffffff  ;
	font-size: 120%;
	font-weight:bold;
	
}

.slider{
	margin-top: 20px;
	border-radius: 10px; 
}

.principal{
	border: 2px solid ;
	border-radius: 20px;
	padding: 20px;
	width: 400px;
	left: 50%;
	margin-top: 100px;
	margin-bottom: 300px;
}

.botones{
	
	width:150px;
	height:40px;

}

animatic{
	font-family: 'Amatic SC', cursive;    
}

iframe{
	width : 500px;
	height : 400px;
	position:absolute;
	z-index:0;
	
}

.posicion{
	position:absolute;
}

.footer1 {

	position: absolute;
	bottom: 0;
	width: 100%;


}

.html1 {
	min-height: 100%;
	position: relative;
}

.body1 {
	margin: 0;
	margin-bottom: 40px;
}


textarea {
	border-style: solid; 
	border-width: 0; 
	padding: 0;
	resize: vertical;
	overflow-x: hidden;
	box-sizing: border-box;
	height : 100px;
	
}


.estructuraPei{
	
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 40px;
	margin-top: 80px;
	
}

.titulos{
	
	text-align:left;
	font-weight : bold;
	font-size: 100%;
	text-transform: uppercase;
}

.subtitulos{
	
	text-align: justify;
	font-weight : bold;
	font-size: 80%;
	text-transform: uppercase;
	
}

.contenido{
	font-family: "Arial", sans-serif;
	font-size:90%;
	line-height:120%;
	font-weight: 400;
	color: black;
	text-align: justify;
	
}

.margenes{
	padding: 40px 30px 40px 30px;
}




.advertencia{

	margin-top: 80px;
	border: 2px solid;
	border-radius: 30px;
	padding: 20px;
	width: 350px; 
	transform: translate(-50%,-50%);
	margin-left:400px;
	


}

video{
	margin-left : 50px;
	
}

.imgUT{
	width: 120px; 
	height: 40px;
}