<!DOCTYPE html>
<html>
<head>
	<title><%= titulo%></title>
	<meta charset="utf-8">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


	<link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Sans|Stylish" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/estilos.css">

	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/usuarios.js"></script>
	

</head>

<body>
	<nav class= " teal lighten-2">
		<div class="nav-wrapper">
			<ul>
				<li><a href="modificar.html" class="brand-logo left"> <i class="material-icons medium">arrow_back</i> </a></li>

				<li><a onclick = "consultarGestioncomunidad()" class ="espacio-izquierda "> <%= consultar%></a></li>
				<ul>
				</div>
			</nav>



			<h3 style="text-align:center" class="laila espacio-arriba"><%= titulo%></h3>
			<br>
			<br>


			<div class="row espacios">

				<div class="row">
					<label for="textarea1"><%= egresados%> </label>
					<div class="input-field col s12">
						<textarea id="egresados"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= atencionVulnerabilidad%></label>
					<div class="input-field col s12">
						<textarea id="atencionVulnerabilidad"  ></textarea>
					</div>

				</div>
				<br>


				<div class="row">
					<label for="textarea1"><%= atencionEtnias%></label>
					<div class="input-field col s12">
						<textarea id="atencionEtnias"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= escuelaPadres%></label>
					<div class="input-field col s12">
						<textarea id="escuelaPadres"  ></textarea>
					</div>

				</div>
				<br>


				<div class="row">
					<label for="textarea1"><%= servicioSocial%></label>
					<div class="input-field col s12">
						<textarea id="servicioSocial"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= participacionComunidad%></label>
					<div class="input-field col s12">
						<textarea id="participacionComunidad"  ></textarea>
					</div>

				</div>
				<br>



				<div class="row">
					<label for="textarea1"><%= prevencionRiesgosSociales%></label>
					<div class="input-field col s12">
						<textarea id="prevencionRiesgosSociales"  ></textarea>
					</div>

				</div>
				<br>



				<div >
					<div class= "align-center">
						<center><a class="waves-effect #00695c teal darken-3 btn botonesModificar pulse modal-trigger" data-target="modal1" onclick ="guardarGestionComunidadModificacion()"><%= guardar%> <i class=" material-icons rigth">system_update_alt</i></a>
						</div>
					</div>
					<br>
					<br>
					<br>

				</div>   

				<!-- Modal Structure -->
				<div id="modal1" class="modal divModal">
					<div class="modal-content ">
						<div id="container" class = " align-center" >			

						</div>

					</div>
				</div>


				<footer class="page-footer teal lighten-2">
					<div class="container">
						<div class="row">
							<div class="col l6 s12">
								<h5 class="white-text"><%= idead%></h5>
								<img class="imgUT" src="img/ut.png">
							</div>
						</div>
					</div>
				</footer>    


			</body>


			</html> 

