<!DOCTYPE html>
<html>
<head>
	<title><%= titulo%></title>
	<meta charset="utf-8">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


	<link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Sans|Stylish" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/estilos.css">
	
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/usuarios.js"></script>
	<script type="text/javascript" src="js/datospei.js"></script>
	
	
</head>
<body>
	<nav class= " teal lighten-2">
		<div class="nav-wrapper">
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="html/principal.html" ><%= principal%></a></li>
				<li><a href="html/identificacion.html" ><%= identificacion%></a></li>
				<li><a href="html/horizonteInstitucional.html" ><%= horizonteInst%></a></li>
				<li><a href="html/gestionDirectiva.html" class="actual"><%= gestionDir%></a></li>
				<li><a href="html/gestionPedagogica.html" ><%= gestionPed%></a></li>
				<li><a href="html/gestionAdministrativaTH.html"><%= gestionATH%></a></li>
				<li><a href="html/gestionComunidad.html"><%= gestionCom%></a></li>
				<li><a onclick="cerrarCesion()"><%= cerrarCesion%></a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<li><a href="html/principal.html" ><%= principal%></a></li>
		<li><a href="html/identificacion.html" ><%= identificacion%></a></li>
		<li><a href="html/horizonteInstitucional.html" ><%= horizonteInst%></a></li>
		<li><a href="html/gestionDirectiva.html" class="actual"><%= gestionDir%></a></li>
		<li><a href="html/gestionPedagogica.html" ><%= gestionPed%></a></li>
		<li><a href="html/gestionAdministrativaTH.html"><%= gestionATH%></a></li>
		<li><a href="html/gestionComunidad.html"><%= gestionCom%></a></li>
		<li><a onclick="cerrarCesion()"><%= cerrarCesion%></a></li>
	</ul>
	

	<h3 style="text-align:center" class="laila espacio-arriba"><%= titulo%></h3>
	<br>
	<br>
	
	
	<div class="row espacios">
		
		<div class="row">
			<div class="col s12  " style ="text-align:right">
				<a class = "links "  href= "proyectopei/ayudas/metas.pdf"   target="_blank">  <%= ayuda1%> <i class="material-icons small">info</i> </a>
			</div>
			<label for="textarea1" class = "tooltipped" data-position= "right" data-tooltip="Que metas tienen como institucion"> <%= metasInstitucionales%> </label>
			<div class="input-field col s12">
				<textarea id="metasInstitucionales" class="materialize-textarea " placeholder = "Escribe aqui las metas institucionales"></textarea>
			</div>
			
		</div>
		<br>
		
		<div class="row">
			<div class="col s12  " style ="text-align:right">
				<a class = "links "  href= "proyectopei/ayudas/inclusion1.pdf"   target="_blank">  <%= ayuda2%><i class="material-icons small">info</i> </a> <br>
				<a class = "links "  href= "proyectopei/ayudas/inclusion2.pdf"   target="_blank">  <%= ayuda3%><i class="material-icons small">info</i> </a>
			</div>
			<label for="textarea1" class = "tooltipped" data-position= "right" data-tooltip="Que propone la institucion para la inclusión"><%= politicasInclusion%></label>
			<div class="input-field col s12">
				<textarea id="politicasInclusion" class="materialize-textarea " placeholder = "Escribe aquí las Políticas de inclusión institucional"></textarea>
			</div>        
		</div>
		<br>
		
		
		<div class="row">
			<div class="col s12  " style ="text-align:right">
				<a class = "links "  href= "ayudas/articulacion.pdf"   target="_blank"> Que es? <i class="material-icons small">info</i> </a> 
				
			</div>
			
			<label for="textarea1"  class = "tooltipped" data-position= "right" data-tooltip="Que convenios o articulaciones posee la institucion educativa" ><%= politicasArticulacion%></label>
			<div class="input-field col s12">
				<textarea id="politicasArticulacion" class="materialize-textarea " placeholder = "Escribe aqui los convenios o articulaciones existentes"></textarea>
			</div>        
		</div>
		<br>
		
		
		<div class="row">
			<div class="col s12  " style ="text-align:right">
				<!--Link caido-->
				<a class = "links "  href= "https://i.ytimg.com/vi/gFHdfBJRoVo/maxresdefault.jpg."   target="_blank"> <%= ayuda4%> <i class="material-icons small">info</i> </a> 
				
			</div>
			<label for="textarea1" class ="tooltipped"  data-position= "right" data-tooltip="Describe que ciudadano egresa de tu institucion"><%= estrategiaPedagogica%></label>
			<div class="input-field col s12">
				<textarea id="estrategiaPedagogica" class="materialize-textarea " placeholder = "Qué estrategia pedagógica se desarrolla acorde al modelo educativo y pedagógico"></textarea>
			</div>        
		</div>
		<br>
		
		<div class="row">
			<div class="col s12  " style ="text-align:right">
				<a class = "links "  href= "https://www.mineducacion.gov.co/1621/propertyvalue-32772.html"   target="_blank"> <%= ayuda5%> <i class="material-icons small">info</i> </a> 
				
			</div>
			<h5 class ="laila align-center tooltipped"  data-position= "left" data-tooltip="Quienes integran el gobierno escolar"><%= gobiernoEscolar%> </h5>
			<br>
			<div class="row subTemas">
				<br>
				<h6 > <%= consejoDirectivo%></h6>
				<div class="input-field col s12">
					<textarea id="consejoDirectivo" class="materialize-textarea " placeholder = "integrantes , cronograma"></textarea>
				</div> 
				<br>
				<h6 > <%= consejoAcademico%></h6>
				<div class="input-field col s12">
					<textarea id="consejoAcademico" class="materialize-textarea " placeholder = "integrantes , cronograma"></textarea>
				</div>	
				<br>
				<h6 > <%= consejoEvaluacion%></h6>
				<div class="input-field col s12">
					<textarea id="consejoEvaluacion" class="materialize-textarea " placeholder = "integrantes , cronograma"></textarea>
				</div>	
				<br>
				<h6 > <%= comiteConvivencia%></h6>
				<div class="input-field col s12">
					<textarea id="comiteConvivencia" class="materialize-textarea " placeholder = "integrantes , cronograma"></textarea>
				</div>	
				<br>
				<h6 > <%= consejoEstudiantil%></h6>
				<div class="input-field col s12">
					<textarea id="consejoEstudiantil" class="materialize-textarea " placeholder = "integrantes , cronograma"></textarea>
				</div>
				<br>
				<h6 > <%= consejoPadres%></h6>
				<div class="input-field col s12">
					<textarea id="consejoPadres" class="materialize-textarea " placeholder = "integrantes , cronograma"></textarea>
				</div>
			</div>
			
		</div>
		<br>

		<div class="row">
			<div class="col s12  " style ="text-align:right">
				<a class = "links "  href= "proyectopei/ayudas/comunicacionExt.pdf"   target="_blank"> <%= ayuda6%>  <i class="material-icons small">info</i> </a> 
			</div>
			<label for="textarea1" class ="tooltipped" data-position = "right" data-tooltip="Canales de comunicación institucional"><%= mecanismosComunicacion%> </label>
			<div class="input-field col s12">
				<textarea id="mecanismosComunicacion" class="materialize-textarea " placeholder = "Escribe aqui - teléfonos, correo electrónico, redes sociales"></textarea>
			</div>        
		</div>
		<br>
		
		<div class="row">
			<div class="col s12  " style ="text-align:right">
				<a class = "links "  href= "proyectopei/ayudas/motivacion.pdf"   target="_blank"> <%= ayuda7%>  <i class="material-icons small">info</i> </a> 
			</div>
			<label for="textarea1" class ="tooltipped" data-position = "right" data-tooltip="como condecoras los alcances positivos en tu institucion"><%= reconocimientoLogros%></label>
			<div class="input-field col s12">
				<textarea id="reconocimientoLogros" class="materialize-textarea " placeholder = "Escribe aqui como se reconocen los logros en la institucion educativa"></textarea>
			</div>        
		</div>
		<br>
		
		<div class="row">
			
			<label for="textarea1" class ="tooltipped" data-position = "right" data-tooltip="Actividades a realizar para la bienvenida de los nuevos integrantes de la institucion" ><%= induccion%></label>
			<div class="input-field col s12">
				<textarea id="induccion" class="materialize-textarea " placeholder = "Escribe aqui la institucion da la bienvenida"></textarea>
			</div>        
		</div>
		<br>

		<div class="row">
			<div class="col s12  " style ="text-align:right">
				<a class = "links "  href= "proyectopei/ayudas/clima.pdf"  target="_blank"> <%= ayuda8%><i class="material-icons small">info</i> </a> 
			</div>
			<label for="textarea1" class ="tooltipped" data-position = "right" data-tooltip="Que estimulos tiene la institucion educativa para los integrantes"><%= planEstimulos%></label>
			<div class="input-field col s12">
				<textarea id="planEstimulos" class="materialize-textarea " placeholder=" Escribe el plan de estímulos para docentes y estudiantes "></textarea>
			</div>        
		</div>

		
		
		<div class="row">
			<div class="col s12  " style ="text-align:right">
				<a class = "links "  href= "proyectopei/ayudas/1620-2013.pdf"  target="_blank"> <%= ayuda9%><i class="material-icons small">info</i> </a> <br>
				<a class = "links "  href= "proyectopei/ayudas/1695-2013.pdf"  target="_blank"> <%= ayuda10%><i class="material-icons small">info</i> </a> <br>
				<a class = "links "  href= "proyectopei/ayudas/115-1994.pdf"  target="_blank"> <%= ayuda11%><i class="material-icons small">info</i> </a> 
			</div>
			<h5 class ="laila align-center tooltipped"  data-position = "left"  data-tooltip="Cuál es el pacto de convivencia que tiene la institucion educativa"><%= pactoConv%></h5>
			<div class = "row subTemas">
				
				<br>
				<h6><%= reglasHigienePersonal%></h6>
				<div class="input-field col s12">
					<textarea id="reglasHigienePersonal" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>
				
				<br>
				<h6><%= criteriosRespeto%></h6>
				<div class="input-field col s12">
					<textarea id="criteriosRespeto" class="materialize-textarea "></textarea>
				</div>
				
				<br>
				<h6><%= pautasComportamiento%></h6>
				<div class="input-field col s12">
					<textarea id="pautasComportamiento" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>			
				
				<br>
				<h6><%= normasConducta%></h6>
				<div class="input-field col s12">
					<textarea id="normasConducta" class="materialize-textarea "></textarea>
				</div>	
				
				<br>
				<h6><%= procedimientosConflictos%></h6>
				<div class="input-field col s12">
					<textarea id="procedimientosConflictos" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>	
				
				<br>
				<h6><%= pautasPresentacionPersonal%></h6>
				<div class="input-field col s12">
					<textarea id="pautasPresentacionPersonal" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>	
				
				<br>
				<h6><%= definicionSanciones%></h6>
				<div class="input-field col s12">
					<textarea id="definicionSanciones" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>	
				
				<br>
				<h6><%= eleccionRepresentantes%></h6>
				<div class="input-field col s12">
					<textarea id="eleccionRepresentantes" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>	
				
				<br>
				<h6><%= calidadAlimentacion%></h6>
				<div class="input-field col s12">
					<textarea id="calidadAlimentacion" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>	
				
				<br>
				<h6><%= funcionamientoComunicacion%></h6>
				<div class="input-field col s12">
					<textarea id="funcionamientoComunicacion" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>
				
				<br>
				<h6><%= provisionMaterialDidactico%></h6>
				<div class="input-field col s12">
					<textarea id="provisionMaterialDidactico" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>
				
				<br>
				<h6><%= usoBibliobanco%></h6>
				<div class="input-field col s12">
					<textarea id="usoBibliobanco" class="materialize-textarea " placeholder = "Escriba el contenido aquí"></textarea>
				</div>			
				
			</div>		
		</div>
		
		<div class="row">
			<label for="textarea1" class ="tooltipped" data-position = "right" data-tooltip="Qué actividades realiza la institución diferentes a las clases regulares"><%= actividadesExtracurriculares%>label>
				<div class="input-field col s12">
					<textarea id="actividadesExtracurriculares" class="materialize-textarea " placeholder = "Escriba las actividades que realiza en el año a nivel institucional"></textarea>
				</div>        
			</div>
			<br>
			
			
			<div class="row">
				<div class="col s12  " style ="text-align:right">
					<a class = "links "  href= "proyectopei/ayudas/estrategia.pdf"  target="_blank"> <%= ayuda12%><i class="material-icons small">info</i> </a> 
				</div>
				<label for="textarea1" class ="tooltipped" data-position = "right" data-tooltip="Que instrumento usa la institución para evaluarse" ><%= autoevaluacionInstitucional%></label>
				<br>
				<br>
				<div class="file-field input-field">
					<div class="btn botones" >
						<span><%= buscar%></span>
						<input type="file" id="autoevaluacionInstitucional" accept="image/png, .jpeg, .jpg, image/gif">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text" placeholder = "Diseñalo y sube la propuesta en imagen de formato JPEG">
					</div>
				</div>
				<br>
				
			</div>
			<br>
			
			
			
			
			<div >
				<div class= "align-center">
					<center><a class="waves-effect #00695c teal darken-3 btn botones pulse  modal-trigger" data-target="modal1" onclick ="guardarGestionDirectiva()"><%= guardar%> <i class="material-icons rigth">save</i></a>
					</div>
					
					
					
				</div>
				
				<!-- Modal Structure -->
				<div id="modal1" class="modal divModal">
					<div class="modal-content ">
						<div id="container" class = " align-center" >			
							
						</div>
						<div class= "align-center">
							<center><a id="continuar" class="waves-effect waves-light btn botones " href="gestionPedagogica.html"><%= continuar%> <i class="material-icons rigth">send</i></a></center>
						</div>
						
					</div>
				</div>
				
				
			</div>
			
			<footer class="page-footer teal lighten-2">
				<div class="container">
					<div class="row">
						<div class="col l6 s12">
							<h5 class="white-text"><%= idead%></h5>
							<img class="imgUT" src="img/ut.png">
						</div>
					</div>
				</div>

			</footer>    

		</body>


		</html>