<!DOCTYPE html>
<html>
<head>
	<title> <%= titulo%></title>
	<meta charset="utf-8">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Sans|Stylish" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/estilos.css">

	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/usuarios.js"></script>
	<script type="text/javascript" src="js/datospei.js"></script>

</head>

<body>
	<nav class= " teal lighten-2">
		<div class="nav-wrapper">
			<ul>
				<li><a href="html/modificar.html" class="brand-logo left"> <i class="material-icons medium">arrow_back</i> </a></li>

				<li><a onclick = "consultarGestionAdministrativa()" class ="espacio-izquierda "> <%= consultar%> </a></li>
				<ul>
				</div>
			</nav>



			<h3 style="text-align:center" class="laila espacio-arriba"><%= titulo%></h3>
			<br>
			<br>


			<div class="row espacios">

				<div class="row">
					<label for="textarea1"><%= procesoMatricula%></label>
					<div class="input-field col s12">
						<textarea id="procesoMatricula"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= archivoAcademico%></label>
					<div class="input-field col s12">
						<textarea id="archivoAcademico"  ></textarea>
					</div>

				</div>
				<br>

				<label for="textarea1"><%= registroEvaluacion%></label>
				<div class="input-field col s12">
					<textarea id="registroEvaluacion"  ></textarea>
				</div>
				<br>
				<br>
				<br>
				<div class="file-field input-field">
					<div class="btn botones" >
						<span><%= buscar%></span>
						<input type="file" id="registroEvaluacionIMG" accept="image/png, .jpeg, .jpg, image/gif">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
				<br>


				<div class="row">
					<label for="textarea1"><%= mantenimientoPlantaFisica%></label></label>
					<div class="input-field col s12">
						<textarea id="mantenimientoPlantaFisica"  ></textarea>
					</div>

				</div>
				<br>


				<label for="textarea1"><%= seguimientoEspacios%></label>
				<br>
				<br>
				<div class="file-field input-field">
					<div class="btn botones" >
						<span><%= buscar%></span>
						<input type="file" id="seguimientoEspacios" accept="image/png, .jpeg, .jpg, image/gif">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
				<br>	

				<div class="row">
					<label for="textarea1"><%= suministroDotacion%></label>
					<div class="input-field col s12">
						<textarea id="suministroDotacion"  ></textarea>
					</div>

				</div>
				<br>	


				<div class="row">
					<label for="textarea1"><%= recursosAprendizaje%></label>
					<div class="input-field col s12">
						<textarea id="recursosAprendizaje"  ></textarea>
					</div>

				</div>
				<br>

				<label for="textarea1"><%= seguridadProteccion%></label>
				<div class="input-field col s12">
					<textarea id="seguridadProteccion"  ></textarea>
				</div>
				<br>
				<br>
				<br>
				<div class="file-field input-field">
					<div class="btn botones" >
						<span><%= buscar%></span>
						<input type="file" id="seguridadProteccionIMG" accept="image/png, .jpeg, .jpg, image/gif">
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= bienestarSocial%></label>
					<div class="input-field col s12">
						<textarea id="bienestarSocial"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= talentoHumano%></label>
					<div class="input-field col s12">
						<textarea id="talentoHumano"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= induccionDocentes%></label>
					<div class="input-field col s12">
						<textarea id="induccionDocentes"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= asignacionAcademica%></label>
					<div class="input-field col s12">
						<textarea id="asignacionAcademica"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= evaluacionDesempeño%></label>
					<div class="input-field col s12">
						<textarea id="evaluacionDesempeño"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= estimulos%></label>
					<div class="input-field col s12">
						<textarea id="estimulos"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= apoyoInvestigacion%></label>
					<div class="input-field col s12">
						<textarea id="apoyoInvestigacion"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= bienestarTH%></label>
					<div class="input-field col s12">
						<textarea id="bienestarTH"  ></textarea>
					</div>

				</div>
				<br>

				<div class="row">
					<label for="textarea1"><%= contabilidad%></label>
					<div class="input-field col s12">
						<textarea id="contabilidad"  ></textarea>
					</div>

				</div>
				<br>



				<div >
					<div class= "align-center">
						<center><a class="botonesModificar waves-effect #00695c teal darken-3 btn pulse" data-target="modal1" onclick ="guardarGestionAdministrativaModificacion()"><%= guardar%> <i class=" material-icons rigth">system_update_alt</i></a>
						</div>
					</div>


					<footer class="page-footer teal lighten-2">
						<div class="container">
							<div class="row">
								<div class="col l6 s12">
									<h5 class="white-text"><%= idead%></h5>
									<img class="imgUT" src="img/ut.png">

								</div>
							</div>
						</div>

					</footer>    



				</body>

				</html> 
