<!DOCTYPE html>
<html>
<head>
	<title><%= titulo%></title>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Sans|Stylish" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    
    <script type="text/javascript" src="proyectopei/js/app.js"></script>
    <script type="text/javascript" src="proyectopei/js/usuarios.js"></script>
	<script type="text/javascript" src="proyectopei/js/datospei.js"></script>
	<script type="text/javascript" src="proyectopei/js/appService.js"></script>	

    
</head>
<body>

	  <nav class= " teal lighten-2">
		<div class="nav-wrapper">
		  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		  <ul class="right hide-on-med-and-down">
		    <li><a href="html/principal.html" ><%= principal%></a></li>
			<li><a href="html/identificacion.html" class="actual"><%= identificacion%></a></li>
			<li><a href="html/horizonteInstitucional.html"><%= horizonteInst%></a></li>
			<li><a href="html/gestionDirectiva.html"><%= gestionDir%></a></li>
			<li><a href="html/gestionPedagogica.html"><%= gestionPed%></a></li>
			<li><a href="html/gestionAdministrativaTH.html"><%= gestionATH%></a></li>
			<li><a href="html/gestionComunidad.html"><%= gestionCom%></a></li>
			<li><a onclick="cerrarCesion()"><%= cerrarCesion%></a></li>
		  </ul>
		</div>
	  </nav>

	  <ul class="sidenav" id="mobile-demo">
			<li><a href="html/principal.html" ><%= principal%></a></li>
			<li><a href="html/identificacion.html" class="actual"><%= identificacion%></a></li>
			<li><a href="html/horizonteInstitucional.html"><%= horizonteInst%></a></li>
			<li><a href="html/gestionDirectiva.html"><%= gestionDir%></a></li>
			<li><a href="html/gestionPedagogica.html"><%= gestionPed%></a></li>
			<li><a href="html/gestionAdministrativaTH.html"><%= gestionATH%></a></li>
			<li><a href="html/gestionComunidad.html"><%= gestionCom%></a></li>
			<li><a onclick="cerrarCesion()"><%= cerrarCesion%></a></li>
	  </ul>
			


	<h3 style="text-align:center" class="laila espacio-arriba"><%= titulo%></h3>
	<br>
	<br>
    
     
	  <div class="row espacios">
	  
	  
		<div class="row">
		  <label for="textarea1"><%= nombreInst%></label>
			<div class="input-field col s12">
			  <textarea id="institucionNombre" class="materialize-textarea " placeholder="Ingresa el nombre de la institución"></textarea>
			</div>
			
		  </div>
		  <br>
		  
		  <div class="row">
		  <label for="textarea1"><%= codigoDane%></label>
			<div class="input-field col s12">
			  <textarea id="codigoDane" class="materialize-textarea " placeholder = "Identificación de la institución"></textarea>
			</div>
			
		  </div>
		  <br>
		
		
		  <div class="row">		 
				<div class="col s12  " style ="text-align:right">
					<a class = "links "  href= "proyectopei/ayudas/resena.pdf"   target="_blank"> <%= ayudaResena%><i class="material-icons small">info</i> </a>
				</div>	
				
				<div class="col s12  ">
					<label for="textarea1" class ="tooltipped " data-position="right" data-tooltip="Escribe la historia de tu institución"><%= resenahist%> </label>
					<textarea id="reseña" class="materialize-textarea " placeholder = "Escribe aquí la historia de tu institucion" ></textarea>
				</div>
				
		  </div>
		   		
		  
		  
		  <br>
		  <br>
		  <div class="row">
			<label for="textarea1" class ="tooltipped " data-position="right" data-tooltip="Dinos donde queda tu institución"><%= ubicacionGeo%></label>
			<div class="input-field col s12">
			  <textarea id="ubicacion" class="materialize-textarea " placeholder ="Escribe el nombre de la ciudad, vereda, corregimiento y/o Dirección de tu institucion educativa"></textarea>
			</div>        
		  </div>
		  <br>
		  
		  
		  <label for="textarea1" class ="tooltipped " data-position="right" data-tooltip="sube el distintivo de tu institucion educativa"><%= distintivo%></label>
		  <br>
		  <br>
		  <div class="file-field input-field">
			  <div class="btn botones" >
				<span><%= buscar%></span>
				<input type="file" id="bandera" accept="image/png, .jpeg, .jpg, image/gif">
			  </div>
			  <div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder = "Sube aquí la imagen en formato JPEG con la mejor calidad posible">
			  </div>
		  </div>
		  <br>
		  
		  
		  <div class="row">
			<label for="textarea1" class ="tooltipped " data-position="right" data-tooltip="Dinos las estrofas de tu institución educativa" ><%= himno%></label>
			<div class="input-field col s12">
			  <textarea id="himno" class="materialize-textarea " placeholder ="Escribe aquí las estrofas y el autor del himno de tu institución educativa"></textarea>
			</div>        
		  </div>
		  <br>
		  
		  <div class="row">
			<label for="textarea1" class ="tooltipped"  data-position="right" data-tooltip="Perfil del rector, coordinador o directivos"><%= liderazgo%></label>
			<div class="input-field col s12">
			  <textarea id="liderazgo" class="materialize-textarea " placeholder = "Escribe Aqui los perfiles uno a uno"></textarea>
			</div>        
		  </div>
		  <br>
		  <br>
		  <br>
		  
		  
		  <div>
			<div class= "align-center">
				<center><a class="waves-effect #00695c teal darken-3 btn botones pulse modal-trigger" data-target="modal1" onclick="guardarIdentificacion()"><%= guardar%> <i class="material-icons rigth">save</i></a>
			</div>
				  
		  </div>
			  
		   
	  
	  </div>
	  
		   <!-- Modal Structure -->
	  <div id="modal1" class="modal divModal">
		<div class="modal-content ">
			<div id="container" class = " align-center" >			
			
			</div>
			<div class= "align-center">
				<center><a  id = "continuar" class="waves-effect waves-light btn botones esconder" href="horizonteInstitucional.html"><%= continuar%> <i class="material-icons rigth">send</i></a></center>
			</div>
			
		</div>
	  </div>
	  
	  
        <footer class="page-footer teal lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"><%= idead%></h5>
				<img class="imgUT" src="img/ut.png">
                </div>
              </div>
          </div>
        </footer>    


</body>


</html>
